<div class="container">
  <mat-card class="todo" *ngFor="let todo of todos; index as i">
    <mat-card-header>
      <mat-card-title>
        {{ todo.title }} - {{ todo.isDone }}

        <button (click)="changeTodo(i)">
          <span *ngIf="todo.isDone"> Mark as Undone </span>
          <span *ngIf="!todo.isDone"> Mark as Done </span>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ todo.description }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
