.container
  display: flex;
  flex-direction: column;
  margin: auto
  width: 25%

.todo
  max-width: 400px
  margin: 10px
  cursor: pointer

.done
  text-decoration: line-through;
  opacity: 0.5;

.bottom
  order: 1;
